<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">name</label>
                    <input type="text" id="name" class="form-control" #nameInput>
                </div>
                <div class="col-sm-7 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" (click)="onAddItem()">ADD</button>
                    <button class="btn btn-danger">DELETE</button>
                    <button class="btn btn-danger">CLEAR</button>
                </div>
            </div>
        </form>
    </div>
</div>
